* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    animation: gira 4s ease infinite;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Form Styles */
  #login-form {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  @keyframes gira {

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
  }






  #login-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  #login-form input[type="text"], #login-form input[type="password"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  #login-form button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #login-form button[type="submit"]:hover {
    background-color: #3e8e41;
  }